# Connection Strings
DARCH_PG_CONN="Host=...;Port=5432;Database=...;Username=...;Password=..."
DARCH_MS_CONN="data source=...;initial catalog=...;user id=...;password=..."
DARCH_ORACLE_CONN="Data Source=...;User Id=...;Password=..."
DARCH_MYSQL_CONN="server=...; port=3306; database=...; user=...; password=..."

# JWT Token Options
JWT_KEY="buraya_en_az_32_karakterlik_anahtar_girilmeli"
JWT_ISSUER="domain.com"
JWT_AUDIENCE="domain.com"

# Email Configuration
EMAIL_SMTP_SERVER="smtp.yourprovider.com"
EMAIL_SMTP_PORT="587"
EMAIL_SENDER_NAME="System Name"
EMAIL_SENDER_ADDR="noreply@domain.com"
EMAIL_USER="user"
EMAIL_PASS="pass"

# Message Broker (RabbitMQ)
BROKER_HOST="localhost"
BROKER_USER="guest"
BROKER_PASS="guest"

# Cache Store (Redis)
CACHE_HOST="127.0.0.1"
CACHE_PORT="6379"
CACHE_PASS=""

# Task Scheduler (Hangfire)
HANGFIRE_USER="admin"
HANGFIRE_PASS="admin"

# Search & NoSql
ELASTIC_URL="http://localhost:9200"
ELASTIC_USER=""
ELASTIC_PASS=""

MONGODB_CONN="mongodb://..."
MONGODB_DB="..."

# Global Settings
APP_MODE="Development"
